html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

#score {
  margin: 10px 0 20px 0;
  font-size: 24px;
}

#game {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#001f3f, #0074D9);
  z-index: -1;
}

.flake {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: 28px;
  text-align: center;
}
